<div class="alert alert-danger" role="alert" data-ng-if="pendingGamesError">
  Unable to retrieve pending games list
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Games</h3>
  </div>

  <div class="panel-body">
    <div data-ng-if="pendingGames.length > 0">
      <p>The following games are awaiting a second player. Choose to join any of the following:</p>

      <table class="table">
        <tr>
          <th>Status</th>
          <th>Start Date</th>
        </tr>
        <tr data-ng-repeat="game in pendingGames">
          <td>
            <span data-ng-bind="game.status"></span>
          </td>
          <td>
            <span data-ng-bind="game.startDate"></span>
          </td>
        </tr>
      </table>
    </div>

    <div data-ng-if="pendingGames.length === 0">
      <p>There are currently no games pending to join.</p>
      <button class="btn btn-primary" data-ng-click="startNewGame()">Start New Game</button>
    </div>

  </div>
</div>
