<div class="jumbotron">
  <div class="container">
    <h1>Play Online</h1>
    <p>Play the classic <a href="https://en.wikipedia.org/wiki/Battleship_%28game%29" target="_blank">Battleship</a> guessing game online.</p>
    <p data-ng-bind="greeting"></p>
    <p>
      <a class="btn btn-primary btn-lg" data-ng-href="#/sign-up" role="button">Sign-Up &raquo;</a>
      <a class="btn btn-primary btn-lg" data-ng-href="#/login" role="button">Login &raquo;</a>
    </p>
  </div>
</div>

<hr>

<footer>
  <p>&copy; 2015 Jason Miller</p>
</footer>
