/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.grid {
  tr {
    padding: 0;
    margin: 0;
  }
  td {
    border: #000 solid 1px;
    padding: 0px;
    margin: 0px;
  }
  .grid-space-water {
    background-color: #3cf;
  }
  .grid-space-ship {
    background-color: #330;
  }
  .grid-space-hit {
    background-color: #c30;
  }
  .grid-spacer {
    height: 30px;
    width: 30px;
  }
  button.grid-space-button {
    &:hover {
      outline: #f90 solid 3px;
    }

    &:focus {
      outline: #800 solid 3px;
    }
    border: 0;
    
    display: block;
    margin: 0;
    height: 30px;
    width: 30px;
  }
}

.tracking-grid {
  
}

.battle-grid {
  
}
